<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="../public/main.css">

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/write">글 쓰러 가기</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/time">몇 시일까요</a>
  </li>
  <li class="login">
    <a class="nav-link" href="/login">로그인</a>
  </li>
  <li class="login" >
    <a class="nav-link" href="/mypage">마이페이지</a>
  </li>
  <li class="login" >
    <a class="nav-link" href="/signup">회원가입ㄴ</a>
  </li>
</ul>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
  crossorigin="anonymous"
></script>
