<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('nav.ejs')%>

    <form action="/updatShit/<%=updatId._id%>?_method=PUT" method="post">
    <h4>수정해라.</h4>
    <input type="text" value="<%=updatId.title%>" name="title">
    <input type="text" value="<%=updatId.content%>" name="content">
    <button type="submit">수정</button>

    </form>
    
</body>
</html>